.feature{
    &-title{
        position: relative;
        margin: 20px 0px;
        text-align: center;
        color: #867465;
        font-size: 44px;
        text-transform: uppercase;
        &::after{
            content: '';
            position: absolute;
            width: 100px;
            height: 2px;
            background-color: #867465;
            left: 50%;
            bottom: 0px;
            transform: translateX(-50%);
        }
    }
    &__img{
        width: 100%;
    }
}
@media screen and (max-width: 992px) {
    .feature{
       &-title{
           font-size: 38px;      
            margin: 5px 0px;
        }
    }

} 
@media screen and (max-width: 768px) {
    .feature{
        &-title{
            font-size: 32px;
        }
        &__img{
            margin-top: 10px;
            max-width: 500px;
        }
     }
}
@media screen and (min-width: 768px) {
    .feature__mobile{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .feature__desktop{
        display: none;
    }
}

