.feature-firt {
    display: block;
    color: #867465;
    font-family: 'Arial', serif;
    font-weight: 500;
    padding: 35px;
    &__title {
        font-size: 28px;
    }

    &__intro {
        margin-top: 5px;
        font-size: 18px;
        word-break: break-word;
    }

    &__more {
        display: block;
        width: 166px;
        border: 1px solid transparent;
        background: #f09c05;
        color: #fff;
        border-radius: 4px;
        padding: 13px 40px;
        font-size: 20px;
        line-height: 1.3333333;
        margin-top: 20px;
        &:hover {
            background: #574b41;
            color: #fff;
            transition: all 0.2s linear;
        }
    }
}