.feature{
    width: 100%;
    &-title{
        position: relative;
        margin: 20px 0px;
        text-align: center;
        color: #867465;
        font-size: 50px;
        text-transform: uppercase;
        &::after{
            content: '';
            position: absolute;
            width: 100px;
            height: 2px;
            background-color: #867465;
            left: 50%;
            bottom: 0px;
            transform: translateX(-50%);
        }
    }
    &-row{
        &__list{
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 0px;
            margin-bottom: 0px;
        }
        &__item{
            flex: 0 0 25%;
            max-width: 480px;

        }
    }
}