.header {
    display: flex;
    justify-content: space-between;
    height: 150px;
    width: 100%;
    background-color: white;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &-logo {
            position: relative;
        }

        &-list {
            list-style: none;
            display: flex;
            align-items: center;
            padding-top: 20px;
        }

        &-item {
            position: relative;
            margin: 6px 10px 0px 0px;
            color: #867465;
            border-bottom: none;
            font-size: 15px;

            & a {
                color: #867465;

            }

            &-search {
                height: 40px;
                padding: 10px 5px 10px 40px;
                border: solid 1px #d5c3aa;
                border-radius: 5px;
                width: 240px;
            }

            &-icon.--search {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 12px;
                cursor: pointer;
            }

            &-img {
                width: 28px;
            }
        }
    }

    &__logo-img {
        padding-top: 11px;
    }

    &__logo-translate {
        padding-left: 25px;
        position: absolute;
        top: 90px;

        &-vi {
            margin-right: 5px;
        }

    }

    &__nav-item {
        padding: 5px 10px;
        color: #867566;
        font-size: 17px;

        & span:hover {
            cursor: pointer;
            color: #f09c05;

        }

        &-down {
            padding-left: 5px;
            font-size: 1.6rem;
        }

        &.--has-dropdown {
            position: relative;

            &:hover>.header__dropdown {
                display: block;
            }
        }
    }

    &__dropdown {
        display: none;
        position: absolute;
        top: 100%;
        left: 0px;
        background-color: white;
        border: 1px solid #c2b6ab;
        padding: 5px 20px 20px 20px;
        margin-left: 10px;
        z-index: 1;

        &-item {
            position: relative;
            width: 180px;
            border-bottom: 1px solid #e2ded9;
            padding-bottom: 8px;
            padding-top: 10px;

            &:hover>.dropdown-right__list {
                display: block;
            }

            &:last-child {
                border-bottom: none;
                padding-bottom: 0px;
            }
        }

        &-link {
            display: block;
            width: 100%;

            &:hover {
                color: #f09c05;
            }
        }
    }
}

.dropdown-right {
    &__list {
        display: none;
        position: absolute;
        top: -6px;
        left: calc(100% + 20px);
        background-color: white;
        border: 1px solid #c2b6ab;
        padding: 20px;

    }

    &__item {
        width: 180px;
        border-bottom: 1px solid #e2ded9;
        padding-bottom: 8px;
        padding-top: 10px;

        &::after {
            content: '';
            position: absolute;
            width: 40px;
            height: 48px;
            z-index: 3;
            top: 0px;
            left: -20px;
            cursor: pointer;
        }

        &:first-child {
            padding-top: 0px;
        }

        &:last-child {
            border-bottom: none;
            padding-bottom: 0px;
        }
    }

    &__link {
        &:hover {
            color: #f09c05;
        }
    }
}

.header-category {
    &__icon {
        font-size: 26px;
        color: #AA9D92;
        margin: 15px;

        &:hover {
            cursor: pointer;
        }
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        color: white;
        font-size: 18px;
        line-height: 28px;
        background-color: #c0895d;
        text-align: center;
        padding: 6px 0px;
        &-text{
            width: 100%;
        }
    }
    &__icon-close{
        cursor: pointer;
        padding-right: 10px;
    }
    

    &__item {
        font-size: 16px;
        line-height: 28px;
        cursor: pointer;
        border-bottom: 1px solid rgb(206, 206, 206);
        padding: 7px 0px 7px 15px;
        color: #867465;
    }
    &__contact{
        text-align: center;
        font-size: 18px;
        margin-top: 30px;

    }
}


@media screen and (min-width: 993px) {
    .hidden-desktop {
        display: none;
    }
}

@media screen and (max-width: 1400px) {
    .container {
        max-width: 950px;
    }

    .header {
        &__dropdown {
            &-item {
                width: 150px;

            }
        }
    }

    .dropdown-right {
        &__item {
            width: 150px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .header {
        &__dropdown {
            &-item {
                width: 100px;

            }
        }
    }

    .dropdown-right {
        &__item {
            width: 100px;
        }
    }
}

@media screen and (max-width: 992px) {
    .hidden-mobile {
        display: none;
    }

    .container {
        max-width: 900px;
    }
}
@media screen and (max-width: 576px) {
    .hidden-s-576{
        display: none;
    }
    .header__item{
        justify-content: center;
    }
   
}
@keyframes move-right{
    from{
        opacity: 0.5;
        transform: translateX(100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes appear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}