.footer {
    background-color: #e9e2d5;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    &__contact{
        margin-top: 20px;
        &-title{
            font-size: 1.6rem;
        }
        &-list{
            margin-top: 15px;
        }
        &-item{
            display: flex;
            align-items: center;
            margin-top: 12px;
            &-icon{
                color: #636363;
                font-size: 1.6rem;
                display: block;
                position: relative;
                width: 30px;
                height: 30px;
                border: 1px solid;     
                text-align: center;  
                line-height: 30px;
            }
        }
        &-text{
            font-size: 1.3rem;
            margin-left: 10px;
        }
    }
    &__help{
        margin-top: 20px;
        &-title{
            font-size: 1.6rem;
            margin-bottom: 12px;
        }
        &-item{
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            margin-top: 12px;
            & a{
                display: block;
                color: black;
                padding-left: 12px;
                &:hover{
                    transform: scaleX(1.1);

                }
            }

        }
    }
    &__connect{
        margin-top: 20px;
        &-title{
            font-size: 1.6rem;
            margin-bottom: 12px;
        }
        &-list{
            display: flex;
        }
        &-item{
            margin-right: 10px;
        }
    }
    &__coppy-right{
        font-size: 1.3rem;
        font-weight: 600;
        margin: auto;
        padding: 5px;
    }
}

@keyframes moveleft{
    from{
    }
    to{
        transform: translate(0px 0px);
    }
}

@media screen and (max-width: 768px) {
    .footer-hidden-mobile{
        display: none;
    }
}